/* ================ Profil Header================= */
.carry-bnb-pr{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.carry-bnb-pr:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    padding: 5px;
    
}




/* ------------------------------Detailss------------------------ */
.leftandright-div{
    width: 100%;
    height: auto;
    display: flex;
}
.left-div{
    width: 60%;
    height: 100%;
    background-color: white;
}
.right-div{
    width: 40%;
    height: 100%;
    background-color: white;
}

.rom-img1{
    width: 50%;
    height: 100%;
}
.rom-img1 img{
    width: 96%;
    border-radius: 15px;
}
.rom-img2{
    width: 50%;
    height: 100%;
}
.rom-img2 img{
    width: 96%;
    border-radius: 15px;
}
.rom-img3{
    width: 50%;
    height: 100%;
}
.rom-img3 img{
    width: 96%;
    border-radius: 15px;
}
.rom-img4{
    width: 50%;
    height: 100%;
}
.rom-img4 img{
    width: 96%;
    border-radius: 15px;
}
.rom-img5{
    width: 50%;
    height: 100%;
}
.rom-img5 img{
    width: 96%;
    border-radius: 15px;
}
.rom-img6{
    width: 50%;
    height: 100%;
}
.rom-img6 img{
    width: 96%;
    border-radius: 15px;
}
.m-left{
    width: 65% !important;
}

.rezerve{
    width: 80%;
    height: 500px;
    border-radius: 2px solid black;
    border-radius: 20px;
    margin-left: 55px;
    box-shadow: -5px 10px 15px rgb(70, 69, 69);
}
.date{
    border: 1px solid rgb(146, 142, 142);
    margin-left: 50px;
    height: 61px;
    width: 300px !important;
    border-radius: 20px;
    overflow: hidden;
}
.form-control{
    border-left: none !important;
}
.cikis{
    border-right: none !important;
}

.seyhatuzat{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 100px;
    margin-top: 30px;
    margin-left: 55px;
    border: 1px solid rgb(160, 153, 153);
    border-radius: 20px;
}